.download-background {
    position: fixed;
    background-position: center top;
    background-size: 2048px auto ;
    opacity: .04;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: -1;
    padding: 0;
    overflow: hidden;
}

.download-container {
    width: 100%;
    max-width: 1200px;
    width: 100%;
    padding: 32px;
    margin: auto;
    text-align: center;
}

.download-header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    margin-bottom: 64px;

}

.download-header-take-action-text {
    font-size: 16px;
    line-height: 1.48;
    strong {

        color: #061f36;
    }
    a {
        color: #061f36;
        &:hover,
        &:focus {
            opacity: .8;
        }
    }
}
.download-step-description {
    font-size: 14px;
    margin-top: 32px;
    line-height: 1.44;
    strong {
        color: #061f36;
    }
    a {
        color: #061f36;
        &:hover,
        &:focus {
            opacity: .8;
        }
    }
}

.download-column {
    max-width: 960px;
    width: 100%;
    text-align: left;
}

.download-title {
    display: inline-block;
    margin: auto;
    font-size: 48px;
    font-weight: normal;
}

.download-card {
    input {
        width: 100%;
        border: 0 none transparent;
        font-size: 32px;
        font-family: "Fixedsys";
        text-align: center;
        background-color: transparent;
        border-bottom: 2px solid transparent;
        &:focus {
            outline: 0;
            // color: #061f36;
            border-bottom-color: currentColor;
        }

    }
}
.download-step-header {
    width: 100%;
    height: 64px;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    border-left: 8px solid #061f36;
}

.download-step-header-text {
    display: inline-block;
    width: calc(100% - 64px);
    padding-left: 16px;
    font-family: "Fixedsys";
    font-size: 20px;
    font-weight: normal;
}

.download-step-header-icon {
    display: inline-block;
    float: right;
    height: 36px;
    width: 36px;
    .checked {
        opacity: 0;
        float: left;
        fill:#8fc163;
    }
    .unchecked {
        fill: #ccc;
    }

    &.__isCompleted {
        .checked {
            opacity: 1;
        }
        .unchecked {
            opacity: 0;
        }
    }
}

.download-step-covid-star-container {
    width: 100%;
    max-width: 360px;
    margin-top: 32px;
    padding: 8px;
}

.download-step-covid-star-image {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 1px solid #92b1cd;
    background-image: linear-gradient(135deg, #c0ddea 0%, #f7fdff 30%, #d5e1f0 80%);
}

.download-step-covid-star-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}
.download-step-covid-star-buttons-container {
    .button {
        margin-top: 0;
        margin-top: 8px;
        padding-left: 32px;
        font-weight: normal;
        font-size: 18px;
        padding-right: 32px;
        +.button {
            margin-left: 32px;
        }
    }
}

.connect-step,
.diy-step,
.download-step {
    margin-bottom: 128px;
}


.download-step-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column;
}

.diy-step-options {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.diy-step-option {
    max-width: 512px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    text-decoration: none;

    + .diy-step-option {
        margin-top: 32px;
    }

    .button {
        display: block;
    }
}

.diy-step-image-container {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('/images/mock-ups/background.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.diy-step-image {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: block;
}

.diy-step-image-sample {
    position: absolute;
    font-size: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-15deg);
    color: #20558a;
    z-index: 1;
    text-align: center;
    mix-blend-mode: color-dodge;
    font-family: 'Fixedsys';
}

@media all and (min-width:640px) {

    .download-title {
        font-size: 64px;
    }
    .download-container {
        padding: 64px;
    }
    .download-column {
        width: 64%;
    }
    .download-header {
        flex-flow:row;
        margin-bottom: 0;
    }
    .download-card {
        width: 36%;
        padding-left: 48px;
    }


    .download-step-row {
        flex-flow: row;
    }

    .download-step-covid-star-container {
        width: calc(50% - 32px);
        + .download-step-covid-star-container {
            margin-left: 32px;
        }
    }

    .diy-step-options {
        flex-flow: row;
    }

    .diy-step-option {
        + .diy-step-option {
            margin-top: 0;
            margin-left: 32px;
        }
    }
}
