.covid-star-container {
    position: relative;
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 32px;

    .placeholder {
        width: 100%;
        // background-color: #f90;
    }
    .covid-star {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        bottom: 0;
        height: 100%;

        transform: translateX(8px);
        opacity: 0;
        // transition: .8s linear opacity;
        // transition-delay: .8s;

        &.__isVisible {
            opacity: 1;
            transition-delay: 0s;
        }
    }
}

.header-block {
    padding-bottom: 128px;
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    background-image: url("/images/header-clouts.jpg");
    background-size: auto 100%;
    animation: clout infinite 32s linear;
    background-position-y: bottom;

    .bulletpoints {
        position: absolute;
        color: #fff;
        left: 0;
        top: 0;
        margin: 8px 0 0 0;
        padding: 0;
        left: 16px;
        right: 8px;
        font-size: 12px;

        li {
            display: block;
            font-family: "Fixedsys";
            margin-top: 8px;
            &:before {
                content: ">";
                margin-right: 8px;
            }
        }
    }


    .mainstage-container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        min-height: 100vh;
        flex-flow: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .mainstage {
        display: inline-block;
        max-width: calc(100vh - 128px);
        width: 100%;
        text-align: center;

        input {
            width: 256px;
            padding: 8px 8px 6px;
            margin: auto;
            font-size: 24px;
            border: 0 none transparent;
            text-align: center;
            color: #20558a;
            font-family: "Fixedsys";
            font-weight: normal;
            background: rgba(255,255,255,.64);
            transition: .32s all linear;
            border-bottom: 2px solid transparent;
            &:focus {
                outline:none;
                // box-shadow: 0 8px 8px rgba(0,0,0,.16)
                background: rgba(255,255,255,0.72);
                border-bottom-color: currentColor;
            }
        }

        .buttons-container {
            margin-top: 32px;
            .button {
                margin-left: 16px;
                margin-right: 16px;
            }
        }
    }

    .covid-star-label {
        position: absolute;
        // transform: rotate(-90deg) translateX(-40%) translateY(48px);
        transform: rotate(-90deg) translateX(165px);
        transform-origin: left bottom;
        left: 48px;
        bottom: 0;
        font-family: "Fixedsys";
        font-size: 32px;
        margin: 0;
        padding: 12px 96px 12px 32px;
        background-color: #3f78ae;
        transform-origin: left center;
        box-sizing: border-box;
        color: #fff;
        display: none;

        animation: starLabel forwards .48s linear;
    }

    .language-select-container {
        position: absolute;
        right: 16px;
        top: 16px;
        color: #fff;
        text-align: right;
        width: 128px;

        .current-language {
            font-weight: normal;
        }
    }
}


@media all and (min-width: 480px) {
    .header-block {
        .covid-star-label {
            display: block;
        }
    }
}

@media all and (min-width: 640px) {
    .header-block {
        .bulletpoints {
            font-size: 16px;
            margin-top: 0;

            li {
                margin-top: 16px;
            }
        }
    }
}

@keyframes starLabel {
    0% {
        bottom: -48px;
    }

    100% {
        bottom: -32px;
    }
}
@keyframes clout {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}